@import './global-styles';

#main {
  font-family: "Avenir-next", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 736px;
  @include media-breakpoint-below(large) {
    display: none;
  }
}

.logo-container {
  display: flex;
  justify-content: left;
}

.login-logo {
  margin-top: 106px;
  margin-left: 97px;
  margin-bottom: 139px;
}

.illustration {
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 447px;

  @include media-breakpoint-below(large) {
    width: 270px;
    margin-left: auto;
    margin-right: auto
  }
}

.form-section {
  width: 100%;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  background-color: #fff;
  height: 100%;
  width: 100%;
  box-shadow: 0px 15px 90px 0px rgba(0, 0, 0, 0.03);
  @include media-breakpoint-below(large) {
    width: 100vw;
    justify-content: center;
    padding-left: 0px;
  }

  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: normal; 
    margin-top: 220px;
    margin-bottom: 10px;
    color: $text-primary;

    @include media-breakpoint-below(large) {
      margin-top: 110px;
      text-align: center;
    }
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: normal; 
    margin-bottom: 60px;
    color: $text-secondary;

    @include media-breakpoint-below(large) {
      text-align: center;
    }
  }

  #email {
    margin-bottom: 24px;
    padding-top: 17.5px;
    padding-bottom: 12.5px;
    border: $input-border;
  }

  #password {
    padding-top: 17px;
    padding-bottom: 18.83px;
    width: 100%;
  }

  input {
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal; 
    border-radius: 5px;
    height: 50px;
    border: none;
    color: $text-secondary;
  }

  .password-input {
    position: relative;
    border: $input-border;
    border-radius: 5px;
  }

  .show-password-toggle {
    position: absolute;
    top: 50%;
    right: 17.6px;
    color: $accent-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transform: translateY(-50%);
    cursor: pointer;
    padding-top: 1px;
  }

  #forgot-password-link {
    font-weight: 600;
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    color: $accent-color;
    text-decoration: none;
  }

  button {
    font-size: 14px;
    letter-spacing: 0.1em;
    padding-top: 15px;
    padding-bottom: 13px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: $accent-color;

    &:hover {
      @include color-with-opacity($accent-color, 0.7);
    }
  }
}
